# Dependencies
node_modules/
.pnp/
.pnp.js

# Production
.next/
out/
dist/*.zip
dist/standalone/
dist/releases/

# Cache
.cache/
.tmp/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.local
.env.production.local
.env.development.local
.env.test.local

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Database
prisma/dev.db
prisma/dev.db-journal
*.db
*.sqlite

# Misc
.vercel
